* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit,  minmax(200px, 1fr));
  grid-template-rows: repeat(3, 200px);
  gap: 1em;
  justify-content: center;
}
.item {
  background: #103e4691;
  color: white;
  border-radius: 8px;
  font-size: 1.5rem;
  padding: 1.5em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
